@import "../settings/settings";

@import "../tools/medias-queries/all";

.container {
  @include for-desktop-up {
    padding: 0 32px;
  }
  @include for-big-desktop-only {
    padding: 0 32px;
  }

  padding: 0 15px;


  &.is-fluid {
    @include for-desktop-up {
      padding: 0 32px;
    }
    @include for-big-desktop-only {
      padding: 0 32px;
    }

    padding: 0 15px;
  }
}
